<button class="nav-btn" type="submit" ><a href="/">MOVIE WATCH LIST</a></button>
<button class="nav-btn" type="submit" ><a href="/history">HISTORY MOVIE LIST</a></button>
<button class="nav-btn" type="submit" ><a href="/add">ADD MOVIE</a></button>
